.course-info {
  border: 0.1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 1rem auto;
  width: 90%;
}

.course-info__inner {
  font-size: larger;
  padding-top: 5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 1rem;
  background-color: #2583ff;
  color: #fff;
}

.course-info__extend {
  background-color: #fff;
  padding: 0.5rem;
}

.teachers {
  width: 90%;
  margin: 40px 40px 40px 40px;
}

.students {
  width: 90%;
  margin: 40px 40px 40px 40px;
}

.assignment-upload {
  border-bottom: 1px #c0c0c0 solid;
  padding: 10px 25px;
  margin: 5px auto;
}

.input {
  overflow-x: hidden;
}

.assignment-grade-board {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.link-download {
  color: #2583ff;
  font-style: italic;
}

.grade-board {
  margin: 20px auto;
  width: 80%;
}

.score {
  padding: 2px 5px;
  background-color: #2583ff;
  color: #fff;
  margin-right: 5px;
}