a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #c0c0c0;
}

.error {
  color: rgb(223, 0, 0);
  font-weight: bold;
}

.success {
  color: rgb(13, 110, 13);
}

.notificate {
  background-color: rgb(223, 0, 0);
  color: #fff;
  padding: 5px;
  border-radius: 40%;
}